$body-background-color: #1D3461;
$text-background-color: #6290C8;

$primary-text-color: rgb(0, 0, 0);
$secondary-text-color: white;

$button-ok-color: #1F487E;
$button-no-color: #829CBC;

$border-outline: #376996;