@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}



@mixin centerCol {
    @include center();
    flex-direction: column;
}


@mixin onHover{
    background-color: $secondary-text-color;
    color: $button-ok-color;
    transition-delay: .05s;
    cursor: pointer;
}